<h1><%= poll.title %></h1>
<h4>Poll ends at <%= poll.endingTime %></h4>

<div id="connection-count"></div>
<div id="status-message"></div>
<div id="choices">
    <button><%= poll.response1 %></button>
    <button><%= poll.response2 %></button>
    <button><%= poll.response3 %></button>
</div>
<div id="vote-results"></div>
<div id="vote-message"></div>

<script src=".././jquery.js"></script>
<script src=".././application.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src=".././poll.js"></script>
